body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
}

/*h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
} */

#top{
    border-radius:25px 25px 0 0;
    
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size:  55px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: wheat;
} 

h3 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: whitesmoke;
} 

a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : none;
}
/*menu Principal*/

#menu_horizontal ul {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    
}

#menu_horizontal a {
    float: left;
    width: 14.05em;
    margin:auto;
    text-decoration: none;
    color: white;
    background-color: purple;
    padding: 0.2em 0.6em;
    border-right: 1px solid white;
    height:90%;
    text-align:  center;
}

#menu_horizontal a:hover {
    background-color: fuchsia;
   
}

#menu_horizontal li {
    display: inline;
    
}

#menuPrincipal{
    height:20%;
    width:100%;
    background-color: #AFAFAF;
    position:absolute;
    bottom:0;
    margin:auto;
    
}
#menu_horizontal{
    width:61.4em;
    margin-left:15%;
    height:100%;
    position: relative;
    border:solid red 1px;
    margin:auto;
    
}

#top-bottom-box{
    
    float:right;
    top:0;
}